* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #0E3657;
  --black: #0d1020;
  --white: #FFFFFF;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --classRock: #134B78;
  --punkRock: #0B2B45;
  --dataSci: #5A95C4;
  --games: #ffec01;
  --movies: #ff01e0;


}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

#root{
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}